# DelayFlights-Analysis

# import library

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("C:/Users/Admin/Downloads/13.DelayedFlights.csv")
data

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

## Which month have seen the most number of cancellation due to bad weather?

In [5]:
weatherr_cancelled_flights=data[data["CancellationCode"]=="B"]
monthly_cancellations=weatherr_cancelled_flights.groupby("Month").size()
month_with_most_cancellations=monthly_cancellations.idxmax()
print("month with the most cancellations due to  bad weather :",month_with_most_cancellations)

month with the most cancellations due to  bad weather : 12

## Top 10 route(origin and dest) that has seen maximum diversions?

In [6]:
top_10_diverted_routes=data[data['Diverted']==1].groupby(['Origin','Dest']).size().nlargest(10)
top_10_diverted_routes

Origin  Dest
ORD     LGA     39
DAL     HOU     35
DFW     LGA     33
ATL     LGA     32
MIA     LGA     31
ORD     SNA     31
SLC     SUN     31
BUR     JFK     29
HRL     HOU     28
BUR     DFW     25
dtype: int64

## Top 5 visited destination.

In [7]:
top_5_visited_destinations=data['Dest'].value_counts().head(5)
top_5_visited_destinations

ORD    108984
ATL    106898
DFW     70657
DEN     63003
LAX     59969
Name: Dest, dtype: int64

## More analysis

In [8]:
highest_average_arrival_delay=data.groupby('Origin')['ArrDelay'].mean().idxmax()
highest_average_arrival_delay

'CMX'

In [9]:
flights_cancelled_for_each_day_of_week=data['DayOfWeek'].value_counts()
flights_cancelled_for_each_day_of_week

5    323259
1    290933
4    289451
7    286111
3    262805
2    260943
6    223256
Name: DayOfWeek, dtype: int64

In [11]:
highest_no_of_cancelled_flights=data[data['Cancelled']==1]['UniqueCarrier'].value_counts().idxmax()
highest_no_of_cancelled_flights

'MQ'

In [12]:
flights_diverted_each_carrier_and_month_combination=data.groupby(['UniqueCarrier','Month',])['Diverted'].sum()
flights_diverted_each_carrier_and_month_combination

UniqueCarrier  Month
9E             1        35
               2        43
               3        22
               4        13
               5        14
                        ..
YV             8        23
               9         7
               10       10
               11       20
               12       31
Name: Diverted, Length: 230, dtype: int64

In [13]:
day_of_week_had_highest_no_of_cancelled_flights=data[data['Cancelled']==1]['DayOfWeek'].value_counts().idxmax()
day_of_week_had_highest_no_of_cancelled_flights

2

In [14]:
highest_avg_departure_delay=data.groupby('DayOfWeek')['DepDelay'].mean().idxmax()
highest_avg_departure_delay

7

In [16]:
flights_diverted_each_month=data.groupby('Month')['Diverted'].sum()
flights_diverted_each_month

Month
1      612
2      909
3      726
4      481
5      361
6     1026
7      774
8      674
9      188
10     285
11     321
12    1397
Name: Diverted, dtype: int64